@import url(./SistemaBancario.css); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  max-height: 100vh;
  margin: 0rem auto;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
}

.home-container, .banco-container {
  background-color: #880029;
  color: #fff;
}

.home-content__colLeft img, .banco-container-content__colLeft img {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 12vh;
  margin: 0rem 2.5rem;
}

.nav-logo-container {
  max-width: 200px;
  max-height: 100px;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.nav-logo-container a {
  display: flex;
  align-items: center;
  justify-content: center; 
  text-decoration: none;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  color: #fff;
}

.navbar-links-container {
  margin: 0 500px 0 0;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
}

.nav-logo-container a:hover, .navbar-links-container a:hover {
  color: #ffa16b;
}

.navbar-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.navbar-buttons-container a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content, .banco-container-content {
  display: grid;
  grid-template-columns: 60% 48%;
  align-items: center;
  justify-content: center;
  height: 78vh;
  margin: 0rem 8rem 0rem 0rem;
}

.home-content__colRight h1 {
  font-size: 3rem;
  line-height: 50px;
  margin: 4rem 0 2rem 0;
}

.home-content__colRight p {
  margin: 2rem 0;
}

.navbar-menu-container__buttons {
  margin: 0 2rem 0 0;
}

.navbar-menu-container a {
  /* display: none; */
  margin: 0rem 1rem;
}   

.home_content__buttons {
  display: flex;
  gap: 1.25rem;
}

.home_content__buttons .primary-button, .home_content__buttons .secondary-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.primary-button, .secondary-button {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  padding: 0.9rem 1.75rem;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-button {
  background-color: #ff6b4d;
}

.secondary-button {
  background-color: transparent;
  border: solid 2px rgb(255, 255, 255);
}

.primary-button:hover {
  background-color: #ffa16b;
  color: #fff;
}

.secondary-button:hover {
  background-color: #fffdfd;
  color: #880029;
}

.home-content__tagsResults {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 4rem 0 0 0;
}

.home-content__tagsResults h2 {
  font-size: 2rem;
  margin-top: 1.2rem;
}

.home-content__tagsResults p {
  margin-top: 0;
}

.tagsResults-card {
  background: rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  width: 12vw;
  height: 8rem;
  border-radius: 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  font-size: 0.85rem;
  height: 10vh;
}

.footer-container p {
  cursor: pointer;
}