* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body, .home-container {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  max-height: 100vh;
  margin: 0rem auto;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  margin: 0rem 2.5rem;
}

.nav-logo-container {
  max-width: 120px;
  max-height: 100px;
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  font-weight: 400;
}

.navbar-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.home-content {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-content: center;
  height: 78vh;
  margin: 0rem 8rem;
}

.home-content__colLeft h1 {
  font-size: 3rem;
  line-height: 50px;
  margin: 2rem 0 3rem 0;
}

.home-content__colLeft p {
  margin: 2rem 0;
}

.navbar-menu-container__buttons {
  margin: 0 2rem 0 0;
}

.navbar-menu-container a {
  /* display: none; */
  margin: 0rem 1rem;
}   

.home_content__buttons {
  display: flex;
  gap: 3rem;
}

.primary-button, .secondary-button {
  font-size: 1.1rem;
  font-weight: 400;
  color: #fff;
  padding: 0.9rem 1.75rem;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-button {
  background-color: #0b78a3;
}

.secondary-button {
  background-color: transparent;
  border: solid 2px rgb(255, 255, 255);
}

.primary-button:hover {
  background-color: #5dcefb;
  color: #fff;
}

.secondary-button:hover {
  background-color: #fffdfd;
  color: #000;
}

.home-content__tagsResults {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2.5rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  font-size: 0.75rem;
  height: 9vh;
}